<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-courses-item">
               
                <div class="card-body">
                    <h5 class="card-title">Name:{{this.name}}</h5>
                    <p class="card-text">PhoneNumber:{{this.sdt}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>