<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-courses-item">
                {{!-- <img src="{{this.image}}" class="card-img-top" alt="..."> --}}
                <div class="card-body">
                    <h5 class="card-title">User:{{this.name}}</h5>
                    <p class="card-text">Pass:{{this.pass}}</p>
                    {{!-- <a href="http://localhost:3000/me/stored/courses" class="btn btn-primary">Update</a> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>