<div class="mt-4">
    <form method="GET" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            {{!-- <input type="text" name="fullname">
            <input type="text" name="age"> --}}
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
        </div>
        <div class="mb-3">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>

{{!-- hien thi kq tim kiem --}}

   <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-courses-item">
                <div class="card-body">
                    <h5 class="card-title">Name:{{this.name}}</h5>
                    <p class="card-text">PhoneNumber:{{this.sdt}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>